.titile {
    font-size: 15px;
    font-weight: 600;
}

.th_quiz_attempt {
    font-size: 15px;
    margin-bottom: 10px;
}

.th_number {
    display: block;
    font-size: 15px;
}

.th_all_quiz {
    font-size: 15px;
    margin-left: 36%;
    cursor: pointer;
}


.th_link_attempt {
    display: inline-block;
    padding: 7px 10px;
    background-color: #28a745;
    color: #fff;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.3s ease;

}

.th_link_attempt:hover {
    background-color: #218838;
    color: #fff;
}

.th_link_attempt:visited {
    color: #fff;
}

.th_success {
    display: inline-block;
    padding: 7px 10px;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
}

.th_success:hover {
    color: #fff;
}

.th_success:visited {
    color: #fff;
}

.th_wait_grade {
    display: inline-block;
    padding: 7px 10px;
    background-color: #6c6a7a;
    color: #fff;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
}

.th_wait_grade:hover {
    color: #fff;
}

.th_wait_grade:visited {
    color: #fff;
}

.th_cancel {
    display: inline-block;
    padding: 7px 10px;
    background-color: #e17e09;
    color: #fff;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
}

.th_cancel:hover {
    color: #fff;
}

.th_cancel:visited {
    color: #fff;
}

.th_wait {
    display: inline-block;
    padding: 7px 10px;
    background-color: #e2725b;
    color: #fff;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
}

.th_wait:hover {
    background-color: #e93f1d;
    color: #fff;
}

.th_wait:visited {
    color: #fff;
}
