<div id="question-13389-1" class="que description informationitem answersaved">
	<div class="content">
		<div class="formulation clearfix">
			<h4 class="accesshide">Information text</h4>
			<div class="qtext">
				{{{questiontext}}}
			</div>
		</div>
	</div>
</div>